* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    // outline: none;
}

a:focus,
a:active {
    // outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html {
    font-size: 16px;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1;
    font-family: Arial;
    //text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-size: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: inherit;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

//-webkit-overflow-scrolling: touch;
/*
&::-webkit-scrollbar {
	display: none;
}
*/

//==========================================

body {
    background:skyblue;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.posts__body {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// .posts__pagination
.posts__pagination{
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.pagination__btn{
    cursor: pointer;
    &:not(last-child) {
        margin-right: 5px;
    }
}


.post {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 5px;
    padding: 10px;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
    & div {
        margin-bottom: 5px;
    }

    // .post__user
    &__user {
    }

    // .post__id
    &__id {
    }

    // .post__title
    &__title {
        font-weight: 600;
        text-align: center;
    }

    // .post__body
    &__body {
        font-style: italic;
        text-align: justify;
    }

}
.input{
    margin-top: 20px;
}
